<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o carpeta existe, lo sirve directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige todo a index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>